#tide_search(ORGANISM='worm', PEPTIDE_SET='partially_tryptic', DB='no_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='worm', PEPTIDE_SET='partially_tryptic', DB='with_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='worm', PEPTIDE_SET='partially_tryptic_allow_missed', DB='no_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='worm', PEPTIDE_SET='partially_tryptic_allow_missed', DB='with_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='worm', PEPTIDE_SET='fully_tryptic', DB='no_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='worm', PEPTIDE_SET='fully_tryptic', DB='with_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='worm', PEPTIDE_SET='nonenzymatic', DB='no_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='worm', PEPTIDE_SET='nonenzymatic', DB='with_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_worm', PEPTIDE_SET='partially_tryptic', DB='no_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_worm', PEPTIDE_SET='partially_tryptic', DB='with_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_worm', PEPTIDE_SET='partially_tryptic_allow_missed', DB='no_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_worm', PEPTIDE_SET='partially_tryptic_allow_missed', DB='with_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_worm', PEPTIDE_SET='fully_tryptic', DB='no_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_worm', PEPTIDE_SET='fully_tryptic', DB='with_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_worm', PEPTIDE_SET='nonenzymatic', DB='no_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_worm', PEPTIDE_SET='nonenzymatic', DB='with_peaks', SPECTRUM_FILE='06-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='yeast', PEPTIDE_SET='partially_tryptic', DB='no_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='yeast', PEPTIDE_SET='partially_tryptic', DB='with_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='yeast', PEPTIDE_SET='partially_tryptic_allow_missed', DB='no_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='yeast', PEPTIDE_SET='partially_tryptic_allow_missed', DB='with_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='yeast', PEPTIDE_SET='fully_tryptic', DB='no_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='yeast', PEPTIDE_SET='fully_tryptic', DB='with_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='yeast', PEPTIDE_SET='nonenzymatic', DB='no_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='yeast', PEPTIDE_SET='nonenzymatic', DB='with_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_yeast', PEPTIDE_SET='partially_tryptic', DB='no_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_yeast', PEPTIDE_SET='partially_tryptic', DB='with_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_yeast', PEPTIDE_SET='partially_tryptic_allow_missed', DB='no_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_yeast', PEPTIDE_SET='partially_tryptic_allow_missed', DB='with_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_yeast', PEPTIDE_SET='fully_tryptic', DB='no_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_yeast', PEPTIDE_SET='fully_tryptic', DB='with_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_yeast', PEPTIDE_SET='nonenzymatic', DB='no_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#tide_search(ORGANISM='shuffled_yeast', PEPTIDE_SET='nonenzymatic', DB='with_peaks', SPECTRUM_FILE='02-10000', MASS_WINDOW=3.0)
#sequest_orig_search(ORGANISM='worm', DTA_FILE_PATTERN='06-100', MASS_WINDOW=3.0)
#sequest_orig_search(ORGANISM='yeast', DTA_FILE_PATTERN='02-100', MASS_WINDOW=3.0)
#sequest_orig_search(ORGANISM='worm', DTA_FILE_PATTERN='06-100', MASS_WINDOW=0.25)
#sequest_orig_search(ORGANISM='yeast', DTA_FILE_PATTERN='02-100', MASS_WINDOW=0.25)
#sequest_recent_search(ORGANISM='yeast', MS2_FILE='yeast-02-100.ms2', PARTIAL_DIGEST=False, MODS=False)
#sequest_recent_search(ORGANISM='yeast', MS2_FILE='yeast-02-100.ms2', PARTIAL_DIGEST=False, MODS=True)
#sequest_recent_search(ORGANISM='yeast', MS2_FILE='yeast-02-100.ms2', PARTIAL_DIGEST=True, MODS=False)
#sequest_recent_search(ORGANISM='yeast', MS2_FILE='yeast-02-100.ms2', PARTIAL_DIGEST=True, MODS=True)
#sequest_recent_search(ORGANISM='worm', MS2_FILE='worm-06-100.ms2', PARTIAL_DIGEST=False, MODS=False)
#sequest_recent_search(ORGANISM='worm', MS2_FILE='worm-06-100.ms2', PARTIAL_DIGEST=False, MODS=True)
#sequest_recent_search(ORGANISM='worm', MS2_FILE='worm-06-100.ms2', PARTIAL_DIGEST=True, MODS=False)
#sequest_recent_search(ORGANISM='worm', MS2_FILE='worm-06-100.ms2', PARTIAL_DIGEST=True, MODS=True)
