h1 {
        font-size: 22px;
        font-family: Arial;
        color: #000000;
}
h2 {
        font-size: 18px;
        font-family: Arial;
        color: #000000;
}
h3 {
	font-size: 16px; 
	font-family: Arial; 
	color: #000000;
}
h4 {
        font-size: 14px;
        font-family: Arial;
        color: #000000;
}
font {
	font-size: 14px; 
	font-family: Arial; 
	color: #000000;
}
p {
	font-size: 14px; 
	font-family: Arial; 
	color: #000000;
}
blockquote {
	font-size: 14px; 
	font-family: Arial; 
	color: #000000;
}
dt {
	font-size: 14px; 
	font-family: Arial; 
	color: #000000;
}
dd {
	font-size: 14px; 
	font-family: Arial; 
	color: #000000;
}
li {
	font-size: 14px; 
	font-family: Arial; 
	color: #000000;
}
a {
    text-decoration: none;
    color: #02656A;
}
a:hover {
    text-decoration: underline;
    color: #AA2244;
}

table {
    border-collapse: collapse;
}

th {
    margin: 0px; 
    padding: 5px;
    font-family: Arial; 
    font-size: 12pt;
    color: #000000;     
}
td {
    margin: 0px;
    padding: 5px;
    font-family: Arial;
    font-size: 14px;
    color: #000000;
}
textarea {
    background: #E4ECEC;	
    font-size: 14px;
    font-family: Arial;	
    color: #000000;
    border: #000000 solid 1px	
}
fieldset {
    border: #000000 solid 1px;
}
legend{
	border: #000000 solid 1px;
	padding: 1px 10px;
	font-size: 14px;
        font-family: Arial;
	font-weight: bold;
}
select {
    background: #E4ECEC;
    font-size: 12px;
    color: #000000;
    border: #000000 solid 1px
}
textcopyright { 
    color: 220044; 
    font-family: Helvetica; 
    font-size: 11pt;
}
red {
    color: #ff0000;
}
green {
    color: #00ff00;
}
blue {
    color: #0000ff;
}

note{
  color:#FF0000;
  font-family: Arial; 
  font-size: 15px;
  font-style:italic;
}

.sfdl { 
  width:220px;
  height:48px;
  padding:0;
  position:relative;
  font:bold 12px/1.17 sans-serif !important; 
  border:1px solid #aaa;
  display:inline;
  float:left;
  -moz-box-shadow:rgba(255, 255, 255, 0.6) 0 1px 0 0;
  -webkit-box-shadow:rgba(255, 255, 255, 0.6) 0 1px 0 0;
  -o-box-shadow:rgba(255, 255, 255, 0.6) 0 1px 0 0;
  box-shadow:rgba(255, 255, 255, 0.6) 0 1px 0 0;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  -ms-border-radius:4px;
  -khtml-border-radius:4px;
  border-radius:4px;
  background:no-repeat #e5e5e5 8px center ;
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fff), color-stop(100%, #ccc));
  background-image:-moz-linear-gradient(top, #fff 0%, #ccc 100%);
  background-image:linear-gradient(top, #fff 0%, #ccc 100%);
  background-image:linear-gradient(top, #fff 0%, #ccc 100%);
  background-position:8px center, 0 0;
  margin:0 10px 0px 0;
  overflow:hidden;
  color:#555 !important;
  background-position:8px center, 0 0;
  margin:0 10px 0px 0;
  overflow:hidden;
  color:#555 !important;
}
.sfdl:hover { 
  cursor:pointer;
  text-decoration:none;
  background:8px center no-repeat #eee;
} 
.sfdl span { 
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  display:block;
  margin:3px;
  padding:4px;
  color:#FFF;
  background:#363;
  background-image:-moz-linear-gradient(center top, #393 0%, #373 100%);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #393),color-stop(1, #373));
  background-image:linear-gradient(top, #393 0%, #373 100%);
  height:34px;
  line-height:34px;
  vertical-align:middle;
  text-align:center;
}
#fileFormatsTable tr:nth-child(even) {
  background: #DEDEDE;
}
